* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
    height: 80px;
}

h1{
    display: inline;
    vertical-align: middle;
}

img {
    margin: 5px;
    height: 70px;
    vertical-align: middle;
}